<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="logLevel">${sys:root-level:-INFO}</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %level %logger{20} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="${logLevel}">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>